In [1]:
!jt -t chesterish

In [2]:
import numpy as np
import pandas as pd
pd.options.display.precision = 2
from seaborn import load_dataset# Load sample data
columns = {'culmen_length_mm': 'length', 
           'culmen_depth_mm': 'depth',
           'flipper_length_mm': 'flipper',
           'body_mass_g': 'mass'}
df = load_dataset('penguins').rename(columns=columns)
df.head()

  species     island  bill_length_mm  bill_depth_mm  flipper    mass     sex
0  Adelie  Torgersen            39.1           18.7    181.0  3750.0    MALE
1  Adelie  Torgersen            39.5           17.4    186.0  3800.0  FEMALE
2  Adelie  Torgersen            40.3           18.0    195.0  3250.0  FEMALE
3  Adelie  Torgersen             NaN            NaN      NaN     NaN     NaN
4  Adelie  Torgersen            36.7           19.3    193.0  3450.0  FEMALE

In [5]:
print('Plain table \n')
df.head()

Plain table

,species,island,bill_length_mm,bill_depth_mm,flipper,mass,sex,predicted
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE,Adelie
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE,Adelie
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE,Adelie
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,Adelie
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE,Adelie

In [6]:
print('********Now with Style********\n')
type(df.style)
correlation_matrix = df.corr()
(correlation_matrix.style
    .background_gradient(cmap='seismic_r', axis=None))

********Now with Style********

In [3]:
# Create made-up predictions
df['predicted'] = df['species']
df.loc[140:160, 'predicted'] = 'Gentoo'
df.loc[210:250, 'predicted'] = 'Adelie'# Create confusion matrix
confusion_matrix = pd.crosstab(df['species'], df['predicted'])
confusion_matrix

predicted  Adelie  Chinstrap  Gentoo
species
Adelie        140          0      12
Chinstrap      10         49       9
Gentoo         31          0      93

In [7]:
(confusion_matrix.style
     .background_gradient('Greys')
     .set_caption('CONFUSION MATRIX')
     .set_properties(**{'text-align': 'center', 
                        'padding': '12px', 
                        'width': '80px'})
     .set_table_styles([{'selector': 'th.col_heading', 
                         'props': 'text-align: center'},
                        {'selector': 'caption', 
                         'props': [('text-align', 'center'),
                                   ('font-size', '11pt'),
                                   ('font-weight', 'bold')]}]))

ValueError: not enough values to unpack (expected 2, got 1)